@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 21px;
    font-family: sans-serif;
    line-height: 1.75;
    letter-spacing: .1px;
    color: rgb(14, 33, 41);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 50px 60px;
    margin: 25px;
    max-width: 700px;
    border: 2px solid rgb(61, 164, 195);
    border-radius: 4px;
}

#jazzer {
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

h1:not(:first-child) {
    margin-top: 20px;
}

h1:not(:last-child) {
    margin-bottom: 20px;
}

h2:not(:first-child) {
    margin-top: 18px;
}

h2:not(:last-child) {
    margin-bottom: 18px;
}

p:not(:last-child),
code:not(:last-child) {
    margin-bottom: 15px;
}

.jazzer-changing {
    opacity: 0;
    transform: scale(.75) translateY(100px);
    transform-origin: center;
    pointer-events: none;
}

code {
    display: block;
    font-family: 'Roboto Mono', sans-serif;
    font-size: .8rem;
    padding: 0 0 0 35px;
    border-left: 2px solid rgb(184, 49, 27);
}

a {
    color: rgb(27, 94, 139);
}

.comment {
    font-style: italic;
    color: rgba(14, 33, 41, .5);
}

.loader {
    opacity: 0;
    position: fixed;
    left: calc(50vw - 10px);
    top: calc(50vh - 10px);
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: rgb(61, 164, 195);
    transition: opacity .5s ease-in-out .5s, transform 10s ease-in-out;
}

.jazzer-changing + .loader {
    opacity: 1;
    transform: rotate(1440deg);
}
